<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Note Taker</title>
    <link rel="stylesheet" href="../css/bootstrap.css">
    <link rel="stylesheet" href="../css/colorful-title.css">
    <link rel="stylesheet" href="../css/login.css">
</head>
<body>
    <div id="content">
        <div style="margin-top: 12%;" class="container">
            <div class="background-color">
                <div>Login</div>
            </div>
        </div>
        <br>
        <form>
            <div class="container d-flex justify-content-between my-box mt-5">
                <input type="password" class="form-control pasw-input" id="txtPasw1" required>
                <input type="password" class="form-control pasw-input" id="txtPasw2" required>
                <input type="password" class="form-control pasw-input" id="txtPasw3" required>
            </div>
            <br>
            <div class="container d-flex justify-content-center mt-5">
                <button id="btnDeneSansini" style="color:white;width: 400px;border-radius: 10px;height: 42px;font-weight: bold;letter-spacing: 5px;font-size: large;" class="btn btn-info" type="submit">Login</button>
            </div>
        </form>    
    </div>
    
    <script src="../js/html-scripts/bootstrap.js"></script>
    <script src="../js/html-scripts/login.js"></script>
</body>
</html>