<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Note Taker</title>
    <link rel="stylesheet" href="../css/bootstrap.css">
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">


</head>
<body>
  <table class="table table-hover container mt-5">
    <thead>
      <tr>
        <th scope="col"><h4>Title</h4></th>
        <th scope="col"><h4>Description</h4></th>
        <th scope="col"><h4>Create Date</h4></th>
        <th scope="col"><h4>Events</h4></th>
      </tr>
    </thead>
    <tbody>
    </tbody>     
  </table>
  <div class="container mt-4"><div class="d-flex justify-content-between"><button id="btnAddNode" type="button" class="btn btn-success">Add Note</button><button id="btnOut" type="button" class="btn btn-danger">Sign Out</button></div></div>
  <script src="../js/html-scripts/bootstrap.js"></script>
  <script src="../js/html-scripts/main.js"></script>
</body>
</html>